# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
node_modules/
coverage/

# Папка с собранными файлами проекта
# build/
/React_homework/13./
/React_homework/28.i18next/.firebase/
/homework_arch/test/
