.contact-add {
  padding: 10px;
  border: 1px dotted rgb(0, 0, 0);
}

.contact-add__title {
  margin: 0 0 15px 0;
}

.contact-add__label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.contact-add__input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.contact-add__button {
  display: block;
  margin: 0 auto;
}
