.table {
  display: grid;
  grid-template-areas: "title title" "contact-add config" "contacts contacts";
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 15px;
  padding: 10px;
  border: 1px dotted rgb(0, 0, 0);
}

.table__title {
  grid-area: title;
  margin: 0;
}

.table__contact-add {
  grid-area: contact-add;
}

.table__config {
  grid-area: config;
}

.table__contacts {
  grid-area: contacts;
}

