@import "src/assets/variables";

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77%;
  height: 520px;
  padding: 16px;
  background-color: var(--primary-background);
  border: 1px solid #868585;
  border-radius: 15px;

  &__title {
    margin-bottom: 14px;
    font-weight: 700;
    text-align: center;
  }
}

@media (max-width: $tabletWidth) {
  .registration {
    width: 95%;
  }
}
