.pagination {
  display: inline-flex;
  flex-wrap: wrap;
  width: 400px;
  padding: 0 0 30px 0;
  margin: 0;
}

.pagination__item {
  width: 34px;
  height: 43px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.pagination__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: var(--secondory-bg-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
}

.pagination__label:hover,
.pagination__input:checked ~ .pagination__label {
  color: var(--additional-color);
  background-color: var(--additional-bg-color);
}

.pagination__input:checked ~ .pagination__label {
  cursor: auto;
}

.pagination__span {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
