.component-with-tooltip {
  position: relative;
}

.component-with-tooltip__tooltip {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding: 5px;
  margin: 0;
  color: var(--additional-color);
  background-color: var(--additional-bg-color);
}
