body.theme--light {
  --body-background: #f2f2f2;

  --primary-background: #ffffff;
  --primary-font-color: #000000;

  --primary-button-background: #000000;
  --primary-button-font-color: #ffffff;
}

body.theme--dark {
  --body-background: #f2f2f2;

  --primary-background: #ffffff;
  --primary-font-color: #000000;

  --primary-button-background: #000000;
  --primary-button-font-color: #ffffff;
}
