.app {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}

.app,
.app * {
  transition-timing-function: ease;
  transition-duration: 0.05s, 0.35s, 0.35s;
  transition-property: color, background-color, margin;
}

.app--theme_light {
  --primary-bg-color: #e7e8e6;
  --primary-color: #000000;
  --primary-border-color: #000000;

  --secondory-bg-color: #ffffff;
  --secondory-color: #6b7280;

  --additional-bg-color: #add8e6;
  --additional-color: #ffffff;
}

.app--theme_dark {
  --primary-bg-color: #261c2c;
  --primary-color: #5c527f;
  --primary-border-color: #000000;

  --secondory-bg-color: #3e2c41;
  --secondory-color: #6e85b2;

  --additional-bg-color: #5c527f;
  --additional-color: #6e85b2;
}

.app__title {
  margin: 0 0 10px 0;
}

.app__container {
  width: 1080px;
  margin: 0 auto;
}

.app__wrap {
  display: flex;
}
