@import "src/assets/mixins";
@import "src/assets/variables";

.header {
  background-color: var(--primary-background);

  &__container {
    @include container;

    display: flex;
    min-height: 50px;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
  }

  &__menu {
    display: flex;
  }

  &__auth {
    display: flex;
    width: 180px;
    background-color: green;
  }
}

@media (max-width: $tabletWidth) {
  .header {
    &__container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__logo {
      order: 1;
      width: 100%;
    }

    &__menu {
      order: 3;
      width: 100%;
      background-color: yellow;
    }

    &__auth {
      order: 2;
      width: 100%;
      background-color: green;
    }
  }
}
