@import "src/assets/mixins";
@import "src/assets/variables";

.header {
  background-color: var(--primary-background);

  &__container {
    @include container;

    display: flex;
    min-height: 50px;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
  }

  &__menu {
    display: flex;
  }

  &__auth {
    display: flex;
  }
}

@media (max-width: $tabletWidth) {
  .header {
    &__container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__logo {
      display: flex;
      justify-content: center;
      order: 1;
      width: 100%;
      border-bottom: 1px solid #868585;
    }

    &__menu {
      display: flex;
      justify-content: center;
      order: 3;
      width: 100%;
      border-bottom: 1px solid #868585;
    }

    &__auth {
      display: flex;
      justify-content: center;
      order: 2;
      width: 100%;
      border-bottom: 1px solid #868585;
    }
  }
}
