.advantages__title {
  padding: 0 0 0 16px;
  margin: 0 0 6px 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.advantages__tagline {
  padding: 0 0 0 16px;
  margin: 0 0 50px 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__title--theme_dark,
.advantages__tagline--theme_dark {
  color: rgb(230, 230, 230);
}

@media (max-width: 980px) {
  .advantages__tagline {
    margin-bottom: 30px;
  }
}


@media (max-width: 760px) {
  .advantages__title {
    font-size: 35px;
  }

  .advantages__tagline {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .advantages .advantages__advantage:first-child {
    margin-bottom: 15px;
  }
}
