.contacts {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  border: 1px solid rgb(221, 221, 221);
}

.contacts thead,
.contacts tbody,
.contacts tr,
.contacts th,
.contacts td {
  color: inherit;
  background: inherit;
  border: inherit;
}

.contacts tr {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contacts td {
  padding: 5px;
  text-align: center;
}

.contacts__header {
  font-size: 18px;
  font-weight: 700;
}

.contacts__header--id {
  width: 60px;
}

.contacts__header--name {
  width: 60%;
}

.contacts__header--phone {
  width: 40%;
}

.contacts__header--control {
  width: 50px;
  font-size: 0;
}
