.promo-page {
  @include container;
  display: grid;
  grid-template-areas: "header header" "aside main" "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 240px 1fr;
  grid-gap: 15px;
}

.promo-page__header {
  grid-area: header;
}

.promo-page__promo {
  grid-area: main;
}

.promo-page__filters {
  grid-area: aside;
}

.promo-page__footer {
  grid-area: footer;
}

@media (max-width: 520px) {
  .promo-page {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
  }

  .promo-page__filters {
    display: none;
  }
}
