.work-area__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.work-area__item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 45%;
  padding: 5px;
  margin: 0;
}

.work-area__item-label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.work-area__item-input {
  width: 200px;
  text-align: center;
}

.work-area__result {
  width: 100%;
}

.work-area__result-input {
  display: block;
  width: 100%;
  min-height: 60px;
  font-size: 50px;
  text-align: center;
}

.work-area__msg {
  display: block;
  width: 80%;
  min-height: 50px;
  margin: 0 auto 15px auto;
  font-size: 40px;
  text-align: center;
  border: 1px dotted rgb(11, 11, 11);
}

.work-area__start {
  display: block;
  width: 50%;
  margin: 0 auto;
}
