@import "src/assets/variables";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 666;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--modal-background-color);

  &--hide {
    display: none;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: var(--modal-button-color);
    cursor: pointer;
    background-color: unset;
    border: none;
  }

  &__close:hover {
    opacity: 0.8;
  }

  &__close:active {
    opacity: 0.6;
  }

  &__content {
    display: flex;
    justify-content: center;
    min-width: 310px;
    min-height: 400px;
  }
}

@media (max-width: $tabletWidth) {
  .modal {
    &__close {
      top: 5px;
      right: 5px;
      font-size: 30px;
    }
  }
}
