@import "src/assets/variables";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--modal-background-color);
  z-index: 999;

  &--hide {
    display: none;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 40px;
    background-color: unset;
    border: none;
    color: var(--modal-button-color);
    cursor: pointer;
  }

  &__close:hover {
    opacity: 0.8;
  }

  &__close:active {
    opacity: 0.6;
  }

  &__content {
    display: flex;
    justify-content: center;
    min-height: 400px;
    min-width: 310px;
  }
}

@media (max-width: $tabletWidth) {
  .modal {
    &__close {
      right: 5px;
      top: 5px;
      font-size: 26px;
    }
  }
}
